.header {
  height: 25vh;
  position: relative;
  &-text {
    margin-bottom: 2rem;
    color: #15261d;
    font-weight: 500;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
