.display-none {
  display: none;
}
.empty {
  display: none;
}
.header {
  height: 25vh;
  position: relative;
}
.header-text {
  margin-bottom: 2rem;
  color: #15261d;
  font-weight: 500;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
footer {
  position: relative;
  width: 100%;
  background-color: #28b485;
  height: 10vh;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_icon li {
  list-style: none;
}
.social_icon li a {
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
  display: inline-block;
  transition: 0.5s;
}
.social_icon li a:hover {
  transform: translateY(-1rem);
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style: none;
}
.menu li a {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 1rem;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.menu li a:hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-size: 1000px 100px;
}
#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
#wave3 {
  z-index: 999;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #bbcac0;
  box-shadow: 0 5px 10px gray, 0 -2px 10px gray;
}
.nav__text {
  transition: all 0.3s ease-out;
  transition-delay: 100ms;
  background: linear-gradient(to right, transparent 35%, #133825);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 1200px 100px;
  align-self: center;
  display: block;
  font-size: 1rem;
}
.nav__svg {
  transition: all 0.3s ease-out;
  width: 3rem;
  transform: translateX(100px);
}
.nav__el {
  transition: all 0.3s ease-out;
  background: linear-gradient(to top, #3cc469 50%, #bbcac0 50%);
  background-size: 100% 200%;
  background-position: top;
  width: 250px;
}
.nav__el:hover {
  background-position: bottom;
}
.nav__el:hover .nav__svg {
  transform: translateX(0);
}
.nav__el:hover .nav__text {
  background-position-x: 172px;
}
.nav__logo-box {
  padding-left: 5rem;
  display: flex;
  align-items: center;
}
.nav__logo {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(3);
}
.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav__link:link,
.nav__link:visited {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: #133825;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.el__active {
  background-position: bottom;
}
.svg__active {
  transform: translateX(0);
}
.text__active {
  background-position-x: 172px;
}
.popup-form {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  background: url(../images/form.png);
  background-size: cover;
  border-radius: 10px;
  padding: 1rem 6rem;
  color: #266f4a;
  z-index: 1000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.popup-form_header {
  margin-top: 10rem;
  margin-bottom: 4rem;
}
.popup__close:link,
.popup__close:visited {
  color: #266f4a;
  position: absolute;
  top: 30px;
  right: 40px;
  text-decoration: none;
  font-size: 2rem;
}
.popup__close:hover,
.popup__close:active {
  color: rgba(38, 111, 74, 0.457);
}
form div {
  margin-bottom: 1rem;
}
div input {
  padding: 4px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  box-shadow: 0 3px 5px gray;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  font-weight: 600;
  background-color: #57886f;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  transform: translateY(-5px);
  background-color: #294c3a;
}
.blur body > *:not(.popup-form) {
  filter: blur(3px);
}
label {
  margin-right: 1rem;
}
.success {
  background: #00800091;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  animation-name: success;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.success__text {
  font-size: 1.5rem;
  color: #f6fff4;
}
@keyframes lightning {
  0% {
    stroke: #15261d;
    stroke-dashoffset: 392;
    fill: grey;
  }
  50% {
    stroke-dashoffset: 0;
    fill: grey;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #55c57a;
    transform: scale(1, 1);
  }
  70% {
    stroke-dashoffset: 0;
    fill: #55c57a;
    transform: scale(1.2, 1.2);
  }
  80% {
    stroke-dashoffset: 0;
    fill: #55c57a;
    transform: scale(1, 1);
  }
  90% {
    stroke-dashoffset: 0;
    fill: #55c57a;
    transform: scale(1.2, 1.2);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #55c57a;
    transform: scale(1, 1);
  }
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes success {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-bottom: 5rem;
}
#lightning {
  height: 50vh;
  fill: grey;
  stroke: #000000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 393;
  stroke-dashoffset: 393;
  animation: 6s ease-in-out forwards lightning;
  transform: translate(-60.6092, -76.02862);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about__header {
  color: #294c3a;
  display: block;
  width: 27rem;
  margin: 0 auto;
  border-bottom: 1px solid #294c3a;
  padding-left: 1rem;
}
.about-info {
  margin: 10rem;
}
.about-info__icon {
  width: 3rem;
  stroke: #294c3a;
}
.about-info__sub-header {
  font-size: 1rem;
  color: #266f4a;
  margin-left: 4rem;
}
.about-info__sub-text {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  margin-left: 4rem;
  color: #266f4a;
}
.about-info__header {
  color: #294c3a;
  font-size: 2rem;
}
.about-info__container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 1rem;
  margin-bottom: 1rem;
  color: #266f4a;
}
.about-info__text {
  color: inherit;
  font-size: 1rem;
}
.about-info__btn {
  width: 16rem;
  height: 6rem;
  margin: auto;
}
.product-list {
  color: #266f4a;
  display: flex;
  justify-content: center;
}
.product-list__icon {
  fill: #133825;
}
.product-list__item {
  display: flex;
}
.product-list__item p {
  align-self: center;
  font-size: 2rem;
}
.documents__license {
  display: block;
  margin: 0 auto;
  width: 26rem;
  margin-bottom: 5rem;
}
.documents__header {
  display: flex;
  justify-content: center;
  color: #294c3a;
  font-size: 3rem;
}
.documents__text {
  display: flex;
  justify-content: center;
  color: #294c3a;
  margin-bottom: 7rem;
  margin-top: 2rem;
}
.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  transform: scale(1.5);
}
.container-documents {
  display: flex;
  justify-content: center;
  align-items: center;
}
