.popup-form {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
  background: url(/images/form.png);
  background-size: cover;
  border-radius: 10px;
  padding: 1rem 6rem;
  color: $color-text;
  z-index: 1000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  &_header {
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
}
.popup__close:link,
.popup__close:visited {
  color: $color-text;
  position: absolute;
  top: 30px;
  right: 40px;
  text-decoration: none;
  font-size: 2rem;
}
.popup__close:hover,
.popup__close:active {
  color: rgba(38, 111, 74, 0.457);
}
form div {
  margin-bottom: 1rem;
}
div input {
  padding: 4px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  box-shadow: 0 3px 5px gray;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  font-weight: 600;
  background-color: rgb(87, 136, 111);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
  border: none;
  color: #ffffff;
}
.btn:hover,
.btn:focus {
  transform: translateY(-5px);
  background-color: #294c3a;
}

.blur {
  body > *:not(.popup-form) {
    filter: blur(3px);
  }
}
label {
  margin-right: 1rem;
}
